{% extends 'base.html' %}
{{% load tailwind_filters %}
{% block content %}

<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'agents:agent-list' %}">Go back to agents</a>
    <hr class="mt-2">
        <h1 class="mt-4 mb-4 text-2xl">Create a new agent</h1>
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Create an agent" class="w-full text-white bg-blue-500 hover:bg-blue-600 py-2 px-3">
        </form>
    </div>

{% endblock content %}