{% extends 'base.html' %}
{{% load tailwind_filters %}
{% block content %}

    <div class="max-w-lg mx-auto">
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white">Sign Up</button>
    </form>
    <hr>
    <div class="border-t py-5 mt-5">
        Already a member?   
        <button 
            class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white" 
            href="{% url 'login' %}">Login
        </button>
    </div>
{% endblock content %}